@media (max-width: 1920px) {
  .header {
    padding-bottom: 50px;
  }
  .header__top {
    padding-top: 30px;
  }
  .header__news-box {
    margin-bottom: 20px;
  }
}
@media (max-width: 1280px) {
  .text {
    padding: 75px 0;
    font-size: 40px;
  }
  .about__content {
    flex-basis: 50%;
  }

  .title {
    font-size: 48px;
    margin-bottom: 20px;
  }
  .about__text {
    gap: 10px;
    font-size: 14px;
  }
  .about__img {
    align-self: flex-end;
    flex-basis: 50%;
  }
  .about__img img {
    width: 100%;
  }
  .reviews__top {
    margin-bottom: 75px;
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .text {
    padding: 50px 0;
    font-size: 32px;
  }
  .menu__btn {
    display: flex;
  }
  .menu__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--color-main);
    color: var(--color-white);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    font-size: 24px;
    transform: translateY(-99%);
    transition: transform 0.5s;
  }
  .header__news {
    margin-top: 10px;
    margin-bottom: 30px;
    order: -1;
  }
  .header__content {
    flex-direction: column;
  }
  .header__info {
    gap: 50px;
  }
  .header__info-list {
    max-width: 100%;
  }
  .about,
  .site-images,
  .activities,
  .reviews {
    margin-bottom: 75px;
  }
  .about__inner {
    flex-wrap: wrap;
  }
  .about__content {
    flex-basis: 100%;
    max-width: 100%;
  }
  .about__img {
    flex-basis: 100%;
  }
  .activities__info {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .activities__title,
  .activities__text {
    flex-basis: 100%;
  }
  .activities__list {
    grid-template-columns: repeat(3, 1fr);
  }
  .reviews__items {
    padding: 0 20px;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .reviews__item:nth-child(even) {
    padding-top: 0;
  }
  .reviews__img {
    width: 100%;
  }
  .footer__title {
    font-size: 52px;
  }
  .footer__info-list {
    gap: 45px;
  }
  .footer__bottom {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .header__buttons {
    flex-wrap: wrap;
    gap: 10px;
  }
  .buttons-book,
  .header__buttons-activities {
    padding: 5px 10px;
    font-size: 24px;
    width: 100%;
    text-align: center;
  }

  .header__info-item {
    padding: 5px 10px;
    font-size: 14px;
  }
  .header__info-list {
    gap: 10px;
  }
  .about__item {
    padding: 8px 15px;
    font-size: 20px;
  }
  .subtitle {
    margin-bottom: 10px;
  }
  .activities__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .title {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .site-images {
    display: none;
  }
  .reviews__top {
    margin-bottom: 30px;
  }
  .reviews__items {
    padding: 0 20px;
    gap: 20px;
    grid-template-columns: 1fr;
  }
  .footer {
    padding: 50px 0;
  }
  .footer__top {
    flex-direction: column-reverse;
    gap: 10px;
  }
  .footer__info-list {
    flex-direction: column;
    gap: 10px;
  }
}
